/* Base & Typography */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

/* Navigation */
.navbar {
    background-color: #343a40 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand,
.nav-link {
    color: #fff !important;
}

/* Cards & Containers */
.card {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Buttons */
.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

#live-search {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

#live-search::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#live-search:focus {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    outline: none;
    box-shadow: none;
}

.btn-like {
    border: none;
    background: transparent;
    color: #6c757d;
}

.btn-like:hover,
.btn-like.liked {
    color: #dc3545;
}

[data-bs-theme="dark"] body {
    background-color: #212529;
    color: #f8f9fa;
}

[data-bs-theme="dark"] .card {
    background-color: #2c3238;
    color: #f8f9fa;
}

[data-bs-theme="dark"] #search-results {
    background-color: #2c3238;
    border-color: #495057;
}

[data-bs-theme="dark"] .navbar {}

[data-bs-theme="dark"] .bg-light {
    background-color: #343a40 !important;
    color: #f8f9fa;
}

[data-bs-theme="dark"] .form-control {
    background-color: #343a40;
    border-color: #495057;
    color: #f8f9fa;
}

[data-bs-theme="dark"] .form-control:focus {
    background-color: #3b444b;
    color: #fff;
    border-color: #6c757d;
}

[data-bs-theme="dark"] .border {
    border-color: #495057 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 5px;
}